<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand" href="#"><h3 class="mb-0">Aurora Grove</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#auroraGroveNav">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="auroraGroveNav">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" style="cursor: pointer;" routerLink="/">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" style="cursor: pointer;" routerLink="/experiences">Explore</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" style="cursor: pointer;" routerLink="/mycart">My Cart <span class="badge badge-pill badge-primary">{{ cartItemsLength }}</span></a>
          </li>
          <li class="nav-item dropdown mr-3">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Pramodh
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">My Orders</a>
                  <a class="dropdown-item" href="#">My Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Logout</a>
              </div>
          </li>
      </ul>
  </div>
</nav>