<section id="showcase" class="d-flex justify-content-center align-items-center" style="min-height: 761px;">
    <div id="overlay"></div>
    <div id="header" class="container text-white text-center">
        <h3 class="display-5 mb-0">MODERN CAMPING</h3>
        <h1 class="display-1">AURORA GROVE</h1>
        <p class="lead d-none d-md-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, cum!</p>
        <app-auth></app-auth>
    </div>
</section>

<section id="icons">
    <div class="container text-center mt-5">
        <h2>YOU SHOW UP, WE PITCH IN THE TENT.</h2>
        <div class="row">
            <div class="col-md-4 p-3">
                <img src="../../assets/images/icons/tent.png" alt="" class="img-fluid d-none d-sm-inline">
                <h3>Amenities You Want</h3>
                <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt illum perferendis voluptas eos vero eum sint atque illo aspernatur reiciendis!</p>
            </div>

            <div class="col-md-4 p-3">
                <img src="../../assets/images/icons/campfire.png" alt="" class="img-fluid d-none d-sm-inline">
                <h3>Amenities You Want</h3>
                <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro hic aut ipsam reprehenderit beatae! Soluta alias accusantium itaque ipsa totam.</p>
            </div>

            <div class="col-md-4 p-3">
                <img src="../../assets/images/icons/nature.png" alt="" class="img-fluid d-none d-sm-inline">
                <h3>Amenities You Want</h3>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit iste odio accusamus reiciendis repellat sed perspiciatis perferendis eligendi a? Expedita.</p>
            </div>
        </div>
    </div>
</section>

<section id="explore">
    <div class="container text-center mt-5">
        <h3>WE’VE CREATED A CAMPING EXPERIENCE THAT’S TURN-KEY AND HASSLE FREE.</h3>
        <div class="row">
            <div class="col-md-6 p-3">
                <div class="card">
                    <img src="../../assets/images/winter.png" class="card-img-top" alt="Winter">
                    <div class="card-body">
                        <h5 class="card-title text-primary">EXPERIENCE</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non possimus ducimus aperiam natus dignissimos maxime? Totam amet enim nesciunt laborum.</p>
                        <a href="#" class="btn btn-outline-primary btn-lg">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 p-3">
                <div class="card">
                    <img src="../../assets/images/dogs.png" class="card-img-top" alt="Dogs">
                    <div class="card-body">
                        <h5 class="card-title text-primary">EXPLORE</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi autem velit recusandae labore et excepturi, doloremque eveniet quia delectus provident.</p>
                        <a href="#" class="btn btn-outline-primary btn-lg">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="quotes">
    <div class="container text-center mt-5">
        <h3>WHAT OUR HAPPY CAMPERS ARE SAYING</h3>
        <div class="row">
            <div class="col-md-4 my-2">
                <i class="fas fa-quote-left fa-2x text-primary mb-3"></i>
                <blockquote class="blockquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer"><cite title="Bruce Wayne">Bruce Wayne</cite></footer>
                </blockquote>
            </div>

            <div class="col-md-4 my-2">
                <i class="fas fa-quote-left fa-2x text-primary mb-3"></i>
                <blockquote class="blockquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer"><cite title="Peter Parker">Peter Parker</cite></footer>
                </blockquote>
            </div>

            <div class="col-md-4 my-2">
                <i class="fas fa-quote-left fa-2x text-primary mb-3"></i>
                <blockquote class="blockquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer"><cite title="Tony Stark">Tony Stark</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-7 mb-3">
                <ngb-carousel>
                    <ng-template ngbSlide>
                        <img src="../../assets/images/slider/coffee.png" class="img-fluid" alt="Random first slide">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="../../assets/images/slider/caribou.png" class="img-fluid" alt="Random second slide">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="../../assets/images/slider/fire.png" class="img-fluid" alt="Random third slide">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="../../assets/images/slider/trees.png" class="img-fluid" alt="Random fourth slide">
                    </ng-template>
                </ngb-carousel>
            </div>

            <div class="col-md-5">
                <h3>CAMPING MADE COZY</h3>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dignissimos accusantium debitis perferendis dolore, reprehenderit rem harum ullam quasi tenetur eligendi at deserunt beatae natus aliquam alias ut eaque ipsum.</p>
                <a href="#">See for yourself <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container text-center mt-5">
        <h3>WHAT OTHERS ARE SAYING</h3>
        <h5 class="text-primary">#AURORAGROVE</h5>

        <div class="row mt-4">
            <div class="col-6 col-lg-3 mb-4">
                <img src="../../assets/images/gallery/social1.png" alt="Social 1" class="img-fluid">
            </div>
            
            <div class="col-6 col-lg-3 mb-4">
                <img src="../../assets/images/gallery/social2.png" alt="Social 2" class="img-fluid">
            </div>

            <div class="col-6 col-lg-3 mb-4">
                <img src="../../assets/images/gallery/social3.png" alt="Social 3" class="img-fluid">
            </div>

            <div class="col-6 col-lg-3 mb-4">
                <img src="../../assets/images/gallery/social4.png" alt="Social 4" class="img-fluid">
            </div>

            <div class="col-6 col-lg-3 mb-4">
                <img src="../../assets/images/gallery/social5.png" alt="Social 5" class="img-fluid">
            </div>

            <div class="col-6 col-lg-3 mb-4">
                <img src="../../assets/images/gallery/social6.png" alt="Social 6" class="img-fluid">
            </div>

            <div class="col-6 col-lg-3 mb-4">
                <img src="../../assets/images/gallery/social7.png" alt="Social 7" class="img-fluid">
            </div>

            <div class="col-6 col-lg-3 mb-4">
                <img src="../../assets/images/gallery/social8.png" alt="Social 8" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container text-center mt-5">
        <i class="fas fa-quote-left fa-2x text-primary mb-3"></i>
        <blockquote class="blockquote">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat fugit magni repellendus autem vel voluptates atque sapiente fugiat maxime nam illo nesciunt nemo consequatur, doloribus dolorem nobis quibusdam accusantium eveniet.</p>
            <footer class="blockquote-footer"><cite title="Peter Parker">Peter Parker</cite></footer>
        </blockquote>
    </div>
</section>

<section id="newsletter" class="bg-dark">
    <div class="container text-center text-white py-5">
        <p class="lead">JOIN OUR NEWSLETTER FOR DEALS AND UPDATES AND OFFERS</p>
        <div class="row justify-content-center">
            <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                <form action="" class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Your Email">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Join Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="footer" class="bg-secondary p-3">
    <ul class="nav text-center justify-content-center flex-column flex-sm-row">
        <li class="nav-item">
            <a class="nav-link text-white" href="#">FAQ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#explore">EXPERIENCE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#explore">EXPLORE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#newsletter">CONTACT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#bookingModal" data-toggle="modal" data-target="#bookingModal">BOOK NOW</a>
        </li>
    </ul>
</section>


